form{
    display: inline-block;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 3px #4e4e4e solid; 
    margin: 20px;
    width: 300px;
    font-size: large;
    letter-spacing: 3px;
}

body {
    text-align: center;
}

h4{
    letter-spacing: 2px;
}

.forgotPassword{
    text-decoration: none;
    color: black;
}

.createAccount{
    text-decoration: underline;
    color: black;
}

.login{
    padding: 5px;
}

img{
    width: 325px;
}

button{
    outline: auto;
    outline-style: round;
    background-color: #5589e2;
    color: white;
    padding: 10px 30px;
    margin-left: 25%;
}